fastapi==0.120.0
uvicorn==0.38.0
sqlalchemy==2.0.44
pydantic==2.12.3
pydantic_core==2.41.4
python-multipart==0.0.20
passlib[bcrypt]==1.7.4
argon2-cffi==23.1.0
python-jose==3.3.0
python-dotenv==1.2.1
opencv-python==4.10.0.84
